<div class="photos" id="items">
  <% if @profile.photos.attached? %>
  <% @profile.photos.each do |photo| %>
      <img class="profile-image-square" src="<%= (url_for(photo)) %>">
  <%end %>
<% elsif current_account.profile != @profile%>
    <br/>
    <h5 class="center pad">No photos yet.</h5>
<% end %>

<% if @profile.photos.attachments.length < 13 && @in_update%>
            <div id="no-drag" class="no-drag profile-image-square border" style="position: relative;">
              <div class="add-form">
               <%= simple_form_for @profile, :url => url_for(:action => 'update', :controller => 'profiles'), :method => 'patch' do |f| %>
                <%= f.file_field :photos, id: "f-field", required: true %>
                <%= f.button :submit, "Add Photo", :class => "btn btn-secondary search" %>
               <% end %>
               </div>
            </div>
  <% end %>
</div>