<% for account in @accounts %>
  <div class="account">
    <p>
      <strong><%=h account.email %></strong>
      <%= link_to "Add Connection", connections_path(:friend_id => account), :method => :post %>
      <div class="clear"></div>
    </p>
  </div>
<% end %>