<div class="main">
    <div
    style="text-align:left; padding:10px;" class="container">
        <h3>Messages</h3>
          <hr />
            <Container style="height:360px;">
              <Row>
                <Col sm={4} style="background:#f8f9fa; height:360px;">
                  <div class="overflow-auto" style="height:360px;">
                   <% @conversations.each do |conversation| %>
                       <% if conversation.sender_id == current_account.id || conversation.receiver_id == current_account.id %>
                            <% if conversation.sender_id == current_account.id %>
                              <% receiver = Account.find(conversation.receiver_id) %>
                            <% else %>
                              <% receiver = Account.find(conversation.sender_id) %>
                            <% end %>
                        <%= link_to receiver.first_name, conversation_messages_path(conversation)%>
                        
                       <% end %>
                    <% end %>
                  </div>
                  </div>
                </Col>

                <Col sm={8}>
                  <div class="overflow-auto" style="maxHeight:320px">
                    
                  </div>

                  <div style="bottom: 0; position: absolute'">
                    <% if account_signed_in? %>
              <%= simple_form_for :filter_list, url: profiles_path, :method => 'get', html: {:class => "form-inline"} do |f| %>
                <%= f.input :general_search_term, label: false%>
                <%= f.button :submit, "Send Message", class: "btn btn-primary spacer"%>
              <% end %>
            <% end %>
                  </div>
                </Col>
              </Row>
            </Container>
        </div>
</div>