<div class="main">
  <div style="text-align:left; padding:10px;" class="container">
    <%= link_to conversations_path do %>
      <span class="btn btn-primary">Back to Messages</span>
    <% end %>
    
    <h3>All Accounts</h3>
    <div class="ui list">
      <% @profiles.each do |profile| %>
        <% if profile.id != current_account.profile.id %>
        <%= link_to conversations_path(sender_id: current_account.profile.id, receiver_id: profile.id), method: "post" do %>
        <div class="btn btn-light contact">
          <div class="row">
              <div class="column contact-left">
                <%= image_tag("avatar.jpeg", class: "contact-img", alt:"photo") %>
              </div>
              <div class="column contact-right">
                  <h5><%= profile.first_name + " " + profile.last_name %></h5>
              </div>
          </div>
        </div>
        <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>