<div class = "main">
  <table class = "table">
    <tbody>
      <% if @notifications.length == 0 %>
        <h4>No notifications yet.</h4>
      <% else %>
          <% @notifications.each do |n| %>
          <tr>
              <td>
                <div class="contact-frame">
                  <% if n.updater.avatar.attached? %>
                    <img src="<%= (url_for(n.updater.avatar)) %>">
                  <% else %>
                    <%= image_tag("avatar.jpeg", class: "", alt:"photo") %>
                  <% end %>
                </div>
              </td>
              <td>
                <%= n.body %>
              </td>
            </tr>
          <% end %> 
      <% end %> 
    </tbody>
  </table>
</div>