<h3>My Block List</h3>
        <div>
          <% if @blockages.length() == 0 %>
            <p class="center">You haven't blocked anyone!</p>
          <% else %>
            <table class="table">
            <tbody>
              <% @blockages.each do |b| %>
                <tr><p>
                  <td>
                    <h5><%= link_to "#{b.blockee.first_name} #{b.blockee.last_name}", profile_path(b.blockee.id) %></h5>
                  </td>
                  <td>
                    <div><%= link_to "Unblock", blockee_request_path(:id => current_account, :blockee_id => b.blockee.id), :method => :delete, :class => "btn btn-light" %></div>
                  </td>
                </p></tr>
                <% end %>
              </tbody>
            </table>  
          <% end %>
    </div>
