// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.btn-maroon {
  background-color: #E10028;
  color: white;
  text-decoration: none;
}

.btn-maroon:hover {
    color: black;
    background-color: #D2D4D6;
}

.btn-grey {
  background-color: #5A646E;
  color: white;
  text-decoration: none;
}

.btn-grey:hover{
  background-color: #D2D4D6;
  color: black;
}

.grey {
  background-color: #f7f7f7;
  margin-bottom: 3px;
}

.pad-light {
  padding-top: 10px;
}

.feed {
    height: auto; 
    max-height: 39em; 
    overflow-x: hidden;
}

.notif-time {
   display: block;
   font-size: 12px;
   margin-bottom: -10px;
   margin-top: -10px;
}

.status-update {
  color: #777;
  font-size: 14px;
  margin-top: -15px;
  margin-left: 5px;
}

.bell {
  font-size: 20px;
  color: white;
  margin: -7px;
  margin-right: -20px;
  margin-left: -20px;
}
