// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.btn-maroon {
  background-color: #E10028;
  color: white;
  text-decoration: none;
}

.btn-maroon:hover {
    color: black;
    background-color: #D2D4D6;
}

.btn-grey {
  background-color: #5A646E;
  color: white;
  text-decoration: none;
}

.btn-grey:hover{
  background-color: #D2D4D6;
  color: black;
}