/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.masthead {
  min-height: 500px;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: visible;
  margin-top: -50px;
}

p {
  font-size: 16px;
}

.masthead_text {
  color: whitesmoke;
  font-size: 60px;
}

.subtext {
  color: whitesmoke;
  font-size: 24px;
  font-weight: normal;
}

.subtext:hover {
  color: #D2D4D6;
  text-decoration: none;
}

.heading {
  font-size: 16px;
  padding-top: 50px;
  margin-right: 10px;
}

.search {
  margin-top: 15px;
}

.pad-left {
  margin-left: 25px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center {
  text-align: center
}

.small {
  width: 100px;
}

.form {
    padding-left: 500px;
    padding-right: 500px;
    padding-bottom: 50px;
}

.navbar {
  background-color: #821019;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.top-alert {
  width: 100%;
  top: 0px;
  padding-bottom: 50px;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 0;
  bottom: 0;
  left: 0;
  background-color: #D2D4D6;
  overflow-x: hidden;
  padding-top: 100px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  color: black;
}

.sidenav a:hover {
  color: #f1f1f1;
  background-color: #821019;
  text-decoration: none;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

.fill {
  background-color: white;
  padding-left: 40px;
  padding-right: 40px;
}

.left {
  width: 40%;
}

.right {
  width: 60%;
}

.home-img {
  width: 100%;
  display: block;
  object-fit: cover;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.btn {
  background-color: #E10028;
  color: whitesmoke;
  text-decoration: none;
}

.maroon-btn {
  background-color: #E10028;
  color: whitesmoke;
  text-decoration: none;
}

.spacer {
  margin-left: 5px;
  margin-right: 5px;
}

.contact-img {
border-radius: 50%;
max-height: 60px;
padding: 5px;
}

.notification {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}