/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* .masthead {*/
/*  min-height: 500px;*/
/*  height: 100vh;*/
/*  background-size: cover;*/
/*  background-position: center;*/
/*  background-repeat: no-repeat;*/
/*  overflow: visible;*/
/*  margin-top: -50px;*/
/*}*/

.masthead {
  min-height: 600px;
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: visible;
  background-image: url(/assets/arrival_edit.jpg);
  margin-top: -15px;
}

p {
  font-size: 16px;
}

.masthead_text {
  color: whitesmoke;
  font-size: 60px;
}

.subtext {
  color: whitesmoke;
  font-size: 24px;
  font-weight: normal;
}

.subtext:hover {
  color: #D2D4D6;
  text-decoration: none;
}

.heading {
  font-size: 16px;
  padding-top: 50px;
  margin-right: 10px;
}

.search {
  margin-top: 15px;
}

.pad {
    padding-top: 10px;
    padding-bottom: 10px;
}

/*.pad-left {*/
/*  margin-left: 25px;*/
/*}*/

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center {
  text-align: center
}

.small {
  width: 100px;
}

.very-small {
  width: 40px;
}

.form {
    padding-left: 500px;
    padding-right: 500px;
    padding-bottom: 50px;
}

.navbar {
  background-color: #821019;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.top-alert {
  width: 100%;
  top: 0px;
  padding-bottom: 50px;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 0;
  bottom: 0;
  left: 0;
  background-color: #D2D4D6;
  overflow-x: hidden;
  padding-top: 100px;
}

.sidenav a {
  padding: 6px 8px 6px 6px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  color: black;
}

.sidenav a:hover {
  color: #f1f1f1;
  background-color: #821019;
  text-decoration: none;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
}

.fill {
  background-color: white;
  padding-left: 40px;
  padding-right: 40px;
}

.left {
  width: 40%;
}


.pad-left {
  padding-left: 15px; 
}

.pad-right {
  padding-right: 25px;
}

.contact-left {
    width: 10%;
}

.contact-right {
    width: 90%;
    text-align: left;
}

.right {
  width: 60%;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.home-img {
  width: 100%;
  display: block;
  object-fit: cover;
  padding: 20px;
}

.page-heading {
  text-align:left;
  padding:10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 20px;}
  .sidenav a {font-size: 18px;}
}

.btn-maroon {
  background-color: #E10028;
  color: white;
  text-decoration: none;
}

.btn-maroon:hover {
    color: black;
    background-color: #D2D4D6;
}

.btn-grey {
  background-color: #5A646E;
  color: white;
  text-decoration: none;
}

.btn-grey:hover{
  background-color: #D2D4D6;
  color: black;
}

.grey {
  background-color: #f7f7f7;
  margin-bottom: 3px;
}

.spacer {
  margin-left: 5px;
  margin-right: 5px;
}

.contact-img {
border-radius: 50%;
max-height: 60px;
padding: 5px;
}

.suggested-img {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  padding: 5px;
}

.notif {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}

.side-notif {
  float:right;
  margin-top: -25px;
  margin-right: 8px;
}

.contact {
  width: 100%;
  background-color: white;
  color: black;
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.contact-bar {
  height: 70px;
  margin: -10px;
}

.line {
  display: inline;
}

.contact-photo {
    border-radius: 50%;
    max-height: 40px;
    position:relative;
    overflow: hidden;
}

/* Messaging */

 .container {
   max-width: 500 !important;
   margin: auto;
   /* letter-spacing: 0.5px; */
 }

 .msg-header {
   width: 100%;
   height: 10%;
   border-bottom: none;
   display: inline-block;
   background-color: #E10028;
 }

 .msg-header-img {
   border-radius: 50%;
   width: 40px;
   margin-left: 5px;
   margin-top: 12px;
   margin-bottom: 10px;
   float: left;
 }

 .msg-name {
   /* width: 120px; */
   float: left;
   margin-top: 15px;
   padding-left: 5px;
   color: white;
 }

 .chat-page {
   padding: 0 0 0px 0;
 }

 .msg-inbox {
   /* border: 1px solid black; */
   overflow: hidden;
   padding-bottom: 30px;
 }

 .chats {
   padding: 30px 15px 10px 25px;
 }

 .msg-page {
   height: 480px;
   overflow-y: auto;
 }

 .received-msg {
   /* display: inline-block; */
   padding: 5px 5px 0 0;
   vertical-align: top;
   width: 92%;
 }

 .received-msg-inbox {
   width: 57%;
 }

 .received-msg-inbox p {
   background: #efefef none repeat scroll 0 0;
   border-radius: 10px;
   color: #646464;
   margin: 0;
   padding: 5px 10px 5px 12px;
   width: 100%;
 }

 .time {
   color: #777;
   display: block;
   font-size: 12px;
   margin: 8px 0 0;
 }

 .outgoing-chats {
   overflow: hidden;
   margin: 0px 20px;
 }

 .outgoing-chats-msg p {
   background: #0096C8 none repeat scroll 0 0;
   color: white;
   border-radius: 10px;
   margin: 0;
   padding: 5px 10px 5px 12px;
   width: 100%;
 }

 .outgoing-chats-msg {
   float: left;
   width: 46%;
   margin-left: 54%;
 }

 .msg-box {
   width: 85%;
   height: 40px;
   padding: 5px 10px;
   box-sizing: border-box;
   border: 2px solid #ccc;
   border-radius: 4px;
   resize: none;
 }

 .msg-bottom {
   position: relative;
   height: 10%;
 }

 .msg-button {
   display: inline-block;
} 

.pad {
    padding: 20px;
}

.toggle-label {
    font-weight: bold;
}

.disabled{
  pointer-events: none;
  cursor: not-allowed;
  color: #dbdbdb;
 }


.options {
  height: 40px;
}

.options-text {
  color:black;
   margin-top: -15px;
}

.options:focus {
  outline: none;
  box-shadow: none;
}

.setting {
  float: right;
  font-size: 30px;
  margin-top: -40px;
}