// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table {
    padding: 40px 0px; 
}
th {
    text-align: left;
}

.profile-basic {
  left: 50%;
}

.profile-text {
    text-align: center;
}

.profile-image-circle {
    width: 210px;
    height: 220px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 3px solid white;
    box-shadow: 0 0 0 2px rgba(0,0,0,.15);
    background: maroon;
}


.profile-image-square {
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    border: 3px solid white;
    box-shadow: 0 0 0 2px rgba(0,0,0,.15);
    margin-right: 30px;
    margin-bottom: 30px;

}

.photos {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;


}

.profile-container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-top: 70px;
}

.update-button {
  position: absolute;
  right: 20%;
  text-align: center; 
  padding: 14px;
}

.add-button {
  text-align: center; 
  color: #2977c9;
  border: 0px;
  background-color: white;
  font-weight: normal;
  font-size: 20px; 
  cursor: pointer; 
  

}


#profile-status {
    display: block;
}

#status-box {
    display: none;
}